extends layout

block nav-about
  li.active
    a(href='/about.html') About

block content
  p.
    Since 1980, Guy Reno Sr., (Founder and C.E.O.) of R&amp;R Pump Service Company has been dedicated to meeting 
    the drinking water and irrigation needs of Central Florida. Since then, we have expanded our services to include 
    water purification, well drilling management, water metering, and even fish farm ecosystems. Whatever product or
    service we put our name behind, we strive to produce a valuable finished product at a fair price, with honesty 
    and integrity throughout. Over the years, we’ve practiced these values one call at a time, and have been rewarded 
    with loyal clients, good reputation, and respectful relationships with our industry colleagues.

  p.
    Present day, Guy Reno Sr. presides over the day-to-day operations of his family business with his partner and son, 
    John Reno. Other than that, virtually nothing has changed in 33 years. We operate under the same principals of honesty 
    and integrity, and we still produce professional products at fair prices. The only new thing to happen to all that, 
    is we now offer a formal guarantee:

  .jumbotron-mini
    h2 The Guarantee

    p.lead
      u We guarantee that our workmanship will be free from defect.
    p.after-lead.
      If a defect in workmanship is discovered, it will be repaired or replaced at no additional charge.

    p.lead
      u Our products will be free of defects upon installation.
    p.after-lead.
      If a defect in the product is discovered within one year of installation, it will be replaced at no additional charge.

    p.lead
      u Our technicians will be punctual, tidy, fair, honest and friendly.
    p.after-lead.
      If a technician fails uphold these values, our labor charges will be discounted accordingly.

    p.lead
      u Our prices will be competitive.
    p.after-lead.
      If a competitor’s quote is drastically lower for a comparable good or service, we will attempt to match it
