extends layout

block nav-contact
  li.active
    a(href='/contact.html') Contact

block content
  #contact
    p.lead Contact us by phone, 24 hours a day, 7 days a week, even on major holidays.

    h1.phone 407-884-5885

    p.
      Your call will be answered by a real technician with real experience in repair and installation. 
      In the event your call goes to voicemail, please leave us your name and number, and give us a moment 
      to call you back. Chances are good that we are handling multiple calls, especially in the morning 
      and after large storms.

    p.
      We also take great care to respond to each and every letter we receive, whether you drop it in the
      mail or in an e-mail. We welcome your correspondence and will respond immediately upon receipt.

    address
      strong R&amp;R Pump Service Company
      br
      | P.O Box 1084
      br
      | Zellwood FL, 32798
      br
      a(href='mailto:service.randrpump@gmail.com') service.randrpump@gmail.com

    p.
      On behalf of our small company, my father and I would like to thank you for considering us for all 
      your water needs. 

    p.lead It is our family’s pleasure to be of service.






