extends layout

block nav-home
  li.active
    a(href="/") Home

block content
  .jumbotron
    h1 
      span.mirror R
      |  &amp; R Pump Service

    p.lead.
      Serving <u>all</u> of Central Florida Since 1980 with 58 years of combined experience
    p.lead.
      We are Central Florida’s diagnostic, repair and new installation experts for all commercial 
      and light-industrial pumps, and for all your residential water service needs.

    h2 Out Of Water?!
    p.lead.
      Call now to speak with an experienced technician, <em>not</em> a receptionist!<br>
      Often, we can guide you through restoring service over the phone, free of charge!

    br 

    p.lead
      strong Office Phone:
      |  407-884-5885


  hr

  h2 Testimonials

  .row-fluid
    .span4      
      blockquote
        | Sed id elit in dui sagittis venenatis non vitae mauris. Sed nec felis a orci tristique blandit. Quisque ornare aliquet gravida. Fusce vitae lorem odio. Morbi quis magna est, nec dapibus dui.
        small Loyal Customer, Kissimmee

    .span4
      blockquote
        | Nullam sollicitudin augue lorem. Nam vehicula sollicitudin lacus eget aliquam. Nullam eget justo est. Nulla accumsan libero at libero consectetur convallis.
        small Somebody, Sanford

    .span4
      blockquote
        | Vestibulum feugiat tincidunt libero at dapibus. Etiam semper dignissim tincidunt. Phasellus vitae urna sit amet odio mattis molestie. Suspendisse hendrerit diam non justo dapibus in varius eros dictum.
        small Great Client, Apopka
