extends layout

block content
  .jumbotron
    h1 Я &amp; R Pump Service
    p.lead.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nulla congue fringilla quam quis faucibus. Vestibulum non augue ut sapien auctor porta.
      Etiam varius dui mi, vel tempor ante.

  hr

  h2 Testimonials

  .row-fluid
    .span4      
      blockquote.
        Sed id elit in dui sagittis venenatis non vitae mauris. Sed nec felis a orci tristique blandit. Quisque ornare aliquet gravida. Fusce vitae lorem odio. Morbi quis magna est, nec dapibus dui.
        small Loyal Customer, Kissimmee

    .span4
      blockquote.
        Nullam sollicitudin augue lorem. Nam vehicula sollicitudin lacus eget aliquam. Nullam eget justo est. Nulla accumsan libero at libero consectetur convallis.
        small Somebody, Sanford

    .span4
      blockquote.
        Vestibulum feugiat tincidunt libero at dapibus. Etiam semper dignissim tincidunt. Phasellus vitae urna sit amet odio mattis molestie. Suspendisse hendrerit diam non justo dapibus in varius eros dictum.
        small Great Client, Apopka
