---
nav: faq
---

#faq
  p.lead.question
    | Help! I’m completely out of water! What can I do to get it back on?
  p
    |
      First thing you can do, before you call anyone, is reset the breaker. Turn it off, turn it back on. 
      Even if it doesn’t looked tripped, it can be disengaged enough to break the circuit. 
      If you don’t know which breaker controls your well pump circuit, you can simply reset
      them all (as well as your clocks). If this seems to correct it, replace the breaker and wait for the next time you are out of water!
  p

    |
      If the breaker doesn't seem to be at fault, and you have power everywhere else on your property, you should call us so we can walk you
      through a few other DIY possibilities. We do not encourage you to open electrical boxes and tinker with the parts without our guidance. 
      The risk of electrocution is too great if you are unfamiliar or uncomfortable with these electrical controls.

  p.lead.question
    | I’m considering a filtration system, but I’m not sure I need it.
    | How can I be sure?
  p
    |
      There are five major facets of water quality that you should evaluate
      before buying a system from anyone: Infection, Color, Smell, Taste, and
      Contamination. Some of these factors are subject to your personal opinion, while others can and should be verified by tests.
  p
    |
      To test for infection, contact your county health department to request a Bacteriological test (there will be a
      small fee and you will need to draw your own raw sample). This test looks for the presence of bacteria, specifically
      coliform bacteria (it is sometimes called a coliform test). Wells that
      test positive should have a chlorination system installed to prevent
      illness, and should have their raw water retested every year. 
      Other tests may be available through your county health department, but services vary from county to county.
  p
    |
      "Testing" for color, smell and taste is much easier. These aesthetic, cosmetic, and technical effects are generally noticeable.
      To "test" your water for what the EPA calls "Secondary Standards", pour your water in a large, clean and clear glass container and evaluate it using your
      senses (White styrofoam containers work great). Evaluate the color, and use hot water when checking for odor (hot water amplifies 
      odor). Look for sediment that falls to the bottom, and check your fixture screens and washing machines for scale or rust stains.
  p
    |
      Testing for contamination means drawing a raw sample to be evaluated by a fully-licensed environmental testing laboratory. 
      The National Primary Drinking Water Regulations (NPDWR) are legally enforceable primary standards and treatment techniques that apply to public water systems. 
      Primary standards and treatment techniques protect public health by limiting the levels of contaminants in drinking water. 
      Please direct your technical questions to the Safe Drinking Water Hotline at 1-800-426-4791. You can also call this number to find a qualified and credentialed lab near you.

  p.lead.question
    | What kinds of tests are there to evaluate water, and can I
    | trust the results?
  p
    |
      Mosts tests and kits are reliable and simple, especially if you
      are doing it yourself and can duplicate the results over two or three
      testings. Nowadays, there is little reason for a homeowner or business owner to
      rely on a salesman to do their water testing, because test kits are cheap
      and readily available on the internet. We use a very simple kit that
      evaluates PH, Hardness and Dissolved Iron in minutes. It is nearly
      identical to a test strip kit you would use to check a pool for PH and
      chlorine content.
  p
    |
      The kit I mentioned is the Insta-Test 2980 multifactor from the Lamotte Corporation. They are a trusted manufacturer of test kits for routine use. 
      For detailed analysis, we take raw and treated samples to an independent, fully-certified, full-service environmental testing laboratory.

  p.lead.question Do you give free estimates?
  p
    |
      The short answer is no, we do not. That is to say, we do not usually make
      appointments to come out to your place of residence or business to
      administer a quote. Not only are we are usually able to provide one over the
      phone with great accuracy, but we are happy to receive your pictures and videos via e-mail while assisting you. 
  p
    |
      That said, in many cases it is prudent for us to get a lay of the land before issuing your quotation, and we will
      usually do so at no additional cost. 
  p
    |
      We do provide consultations at a reduced hourly rate, by appointment. 
      Usually, these consultations are purely educational, and are of great 
      assistance to our clients in planning future projects, or simply 
      understanding the care and maintenance required for equipment they already have.

  p.lead.question Do you take credit cards?
  p
    |
      Via Square, we now accept Visa, Mastercard, AmEx and Discover. It is not our preferred method, due to the fees we must pass on. 
      We would rather you save the money you would spend on these fees, and we would rather you did not pay interest to your creditor on those fees. 
  p
    |
      Square charges a per-transaction fee of 2.75% when a card is SWIPED. (Each $100.00 charged costs you an extra $2.75)
  p
    | The fee for typing the card information is higher. Square charges a per-transaction fee of $0.15, plus 3.5%. (Charging $200.00 would cost you an extra $7.15. Charging $2,000 will cost you an extra $70.15)
  p
    |
      We accept all checks, money orders, and cash.

  p.lead.question Why is there a charge for travel on my invoice?
  p
    |
      Most companies that provide on-the-road services do charge separately for travel. 
      Those whom do not disclose a separate travel charge must be covering those costs in some other way. 
      Returning clients overwhelmingly prefer our transparency in billing, and we are happy to oblige. 
  p
    |
      Our Preventative Maintenance Program clients get a reduced rate on our travel charge, because we perform these routine services on a planned route. 
      When our route expands, we can spread out our travel expenses over more clients, and charge each of them less.

  p.lead.question How extensive is your service area really?
  p
    |
      If you are having trouble finding a pump company to assist you, we can go further than the area highlighted below. 
      Our travel charge can become a significant and considerable charge on your invoice when we travel outside of this area, especially when you require immediate (emergency) assistance. 
      If we can schedule with you to meet your needs at a date in the near future, we can reduce this charge by including you on a maintenance route.
  p
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=202260221997224723950.0004dd6d9caa1081bc37b&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=28.732516,-81.422065&amp;spn=1.089783,1.84845&amp;z=8&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msid=202260221997224723950.0004dd6d9caa1081bc37b&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=28.732516,-81.422065&amp;spn=1.089783,1.84845&amp;source=embed" style="color:#0000FF;text-align:left">Service Area</a> in a larger map</small>
