---
nav: services
---
  
#services
  h3 Full Service Preventative Maintenance
  p
    |
      <u>Our Preventative Maintenance Program</u> is the proverbial feather in
      our cap, and for good reason: piece of mind. We inspect every inch of each
      critical system, cleaning, lubricating, repairing or replacing small parts
      just before they naturally fail. In doing so, we can almost always prevent
      an inconvenient service interruption. In the cases where it happens
      anyway, members of our maintenance program enjoy a priority status and
      top-of-the-list response, as well as a discount on <u>all</u> labor
      charges.  Please inquire about this service if you are at all interested,
      as it is a product uniquely built around your needs.

  p
    |
      While you are still browsing, take time to review all of our services,
      because they are all included in our Full Service Preventative Maintenance
      program.

  h3 Pump &amp; Motor Diagnostics and Repair
  p
    |
      We are competent and proficient with all makes and models, specializing in
      the hard-to-find, special order models.  When replacement is the only good
      option, we always recommend brands with excellent records for
      dependability and longevity.  For a full listing of our recommended
      brands, click <a href='#'>here</a>.
    

  h3 Periodic Irrigation System Maintenance
  p
    |
      Whether you want it as a stand-alone service, or part of a comprehensive
      maintenance service, the product is the same.  We offer monthly, quarterly
      and annual schedules, or anything in between to help keep your system,
      lawn and landscaping in top condition. For a full listing of the brands we
      use, click <a href='#'>here</a>.


  h3 Water Filtration and Purification
  p
    |
      As development and construction keeps pace with growth, we pull water from
      places in the aquifer that we have never pulled from. Sometimes this means
      an intrusion of hardness, dissolved iron, colloidal iron, hydrogen sulfide
      (rotten-egg smell), tannic acid, and/or salt in your previously pristine
      water. Whatever the contaminant, we can design a filtration system to
      remove it at a price that is much lower than the big name brands. We can
      also refurbish most existing systems to do the same job as a new system at
      a substantial savings!  For more details, click <a href='#'>here</a>.


  h3 Emergency Water Outage Response
  p
    |
      <strong>If you find yourself out of water, call us immediately at
      407-884-5885.</strong> Often, we can guide you through some basic steps
      over the phone that may restore service immediately. If that doesn’t work
      though, you can be assured that the next available tech is on their way,
      day or night, weekends and holidays.

  h3 Full Service Installation and Repair
  p
    |
      Wherever you are, we come to you. We honor our commitment to the
      appointments we make, and do our best to be prompt, time-efficient and
      clean. If we must break an appointment (such as with a drinking water
      emergency), we try to be as sensitive to the value of your time as humanly
      possible by rescheduling immediately, and with minimal inconvenience to
      you.
